/*font-family: 'Playfair Display', serif
font-family: 'Poppins', sans-serif;
font-family: 'PT Mono', monospace;*/

:root {
  --primary-font: "Playfair Display", serif;
  --sec-font: "Poppins", sans-serif;
  --back-color: #dfe5f9;
  --branding-color: #38598b;
}
body {
  background-color: whitesmoke;
}

p {
  font-family: var(--sec-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 64px;
}

.hero {
  background-color: var(--back-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  color: #272142;
}

.p-div {
  font-size: 28px;
}
.btn-branding {
  text-decoration: none;
  color: whitesmoke;
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--sec-font);
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  color: var(--branding-color);
  background-color: whitesmoke;
  border: 2px solid var(--branding-color);
  border-radius: 4px;
}
.btn-branding-outline {
  color: var(--branding-color);
  background: white;
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  font-family: var(--sec-font);
  font-size: 19px;

  line-height: 27px;
  padding: 15px 30px;
}
.project-desc {
  padding: 120px 60px 0px;
}
.btn-branding-outline:hover {
  color: whitesmoke;
  background: var(--branding-color);
}
.container {
  margin-bottom: 80px;
}
.inquiry {
  margin-top: 80px;
  max-width: 1160px;
  height: 180px;
  background-color: var(--back-color);
}
.email {
  font-family: var(--sec-font);

  font-size: 24px;
}

.about-hero {
  margin: 0 auto;
  padding: 160px 20px;
}
.about-hero h1 {
  line-height: 80px;
  font-size: 64px;
}
.about-hero h2 {
  font-size: 18px;
  font-family: var(--sec-font);
}
.about-hero img {
  border-radius: 8px;
  max-width: 100%;
  max-height: 75%;
}
.about-section-content {
  margin: 20px;
}
@media (max-width: 900px) {
  .hero {
    padding: 100px 10px;
    line-height: 1.5;
  }
  .hero h1 {
    font-size: 60px;
  }
  .hero p {
    font-size: 24px;
  }
  h2 {
    font-size: 44px;
  }
  .project-desc {
    padding: 0;
    text-align: center;
  }
  .email h2 {
    font-size: 44px;
  }
  .about-hero {
    text-align: center;
    padding: 0;
  }
}
